body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.btn-sidebar-toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 00;
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s;
    overflow: auto;
}

.sidebar h1 {
    text-align: center;
    padding: 20px 0;
}

.sidebar .menu-item {
    padding: 10px 20px;
}

.sidebar .menu-item a {
    color: #fff;
    text-decoration: none;
}

.sidebar .menu-item a:hover {
    text-decoration: underline;
}

.container {
    margin-left: 250px;
    padding: 20px;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    text-align: center;
}

.main-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #bbbbbb;
}

.search-container {
    margin: 20px 0;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.section-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-links .tab-link {
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
}

.section-links .tab-link.active {
    color: #fff;
    border-bottom: 2px solid #007BFF;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 20px;
}

.recommended-grid .app-box {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s;
}

.recommended-grid .app-image-container {
    flex-shrink: 0;
}

.recommended-grid .app-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.recommended-grid .app-info {
    margin-left: 20px;
}

.recommended-grid .app-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recommended-grid .app-description {
    font-size: 14px;
    color: #bbbbbb;
}

.index-grid .app-box {
    display: Flex;
    align-items: center;
    /* background-color: #2a2a2a; */
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px;
    transition: transform 0.3s;
}

.index-grid .app-image-container {
    width: 100%;
    text-align: center;
}

.index-grid .app-image {
    width: 50%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.index-grid .app-info {
    margin-top: 10px;
}

.index-grid .app-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.index-grid .app-description {
    font-size: 14px;
    color: #bbbbbb;
}

.app-box:hover {
    transform: translateY(-5px);
}

.btn-show-more {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .btn-sidebar-toggle {
        display: block;
    }

    .container {
        margin-left: 0;
    }
}
